	<!-- header -->
	<div class="top-header-area" [ngClass]="navbar_classes" id="sticker" style="width: 1054px; position: fixed; top: 0px; z-index: inherit;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="#">Home</a>
								</li>
								<li > <a routerLink="/shop">Shop</a>
								</li>
								
								<li><a href="/contact">Contact</a></li>


								<ng-container *ngIf="!isLoggedIn;else loggedInUser">
									<li >
										<a href="#">Account</a>
										<ul class="sub-menu">
											<li><a routerLink="/login">Login</a></li>
											<li><a routerLink="/signup">Sign Up</a></li>
											<!-- <li><a href="single-product.html">Single Product</a></li>
											<li><a href="cart.html">Cart</a></li> -->
										</ul>
									</li>
	
								</ng-container>

								<ng-template #loggedInUser>
									<li>
										<a routerLink="/account">{{userData.username}}</a>
										<ul class="sub-menu">
											<li><a routerLink="/cart">Cart</a></li>
											<li><a routerLink="/my-orders">Orders</a></li>
											<li><a (click)="userService.logoutUser()">Logout</a></li>
											<li><a routerLink="/admin/products" *ngIf="userData.isAdmin === 'true'">Manage Products</a></li>
											<li><a routerLink="/admin/orders" *ngIf="userData.isAdmin === 'true'">Manage Orders</a></li>
											<!-- <li><a href="single-product.html">Single Product</a></li>
											<li><a href="cart.html">Cart</a></li> -->
										</ul>
									</li>
	
								</ng-template>
							
							



								<li>
									<div class="header-icons">
										<a class="shopping-cart" routerLink="/cart" *ngIf="userData"><i class="fas fa-shopping-cart">
											<span class="badge bg-warning text-dark cart-items">{{items}}</span>
										</i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
